
/* create foundation for multiple columns */
* {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* set font of page to arial */
body {
	font-family: Arial;
}

/* class to center elements */
.centered {
	text-align: center;
}

.maincont {
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

.lcol,
.rcol {
	display: inline;
	float: left;
	position: relative;
}

.lcol {
	width: 60%;
}

.rcol {
	width: 40%;
}

<<<<<<< HEAD
/* clear floats after the columns */
.row:after {
	content: "";
	dispay: table;
	clear: both;
}

circle {
	fill: blue;
}

circle:hover {
	fill: red;
}

.point {
	stroke: green;
}
=======
>>>>>>> 1a3d32b50f79942e62dffafd1ad3d4c769b93a59
