
/* set font of page to arial */
body {
	font-family: Arial;
}

/* class to center elements */
.centered {
	text-align: center;
}

/* create two unequal columns */
.column {
	float: left;
	padding: 10px;
}

.left {
	width: 60%;
}

.right {
	width: 40%;
}

/* clear floats after the columns */
.row:after {
	content: "";
	dispay: table;
	clear: both;
}